/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include "nutymini.dtsi"

&default_transform {
	col-offset = <6>;
};


&kscan0 {

  diode-direction = "row2col";
  row-gpios
    = <&gpio0 3 GPIO_ACTIVE_HIGH >     //Row0
    , <&gpio0 28 GPIO_ACTIVE_HIGH >     //Row1
    , <&gpio0 29 GPIO_ACTIVE_HIGH >    //Row2
    , <&gpio0 4 GPIO_ACTIVE_HIGH >    //Row3
    ;
	col-gpios
		= <&gpio0 9  (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>	//Col0
		, <&gpio0 10 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col1
		, <&gpio1 12 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col2
		, <&gpio1 13 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col3
		, <&gpio1 14 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col4
		, <&gpio1 15 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col5
		;
};


&xiao_i2c {
    //compatible = "nordic,nrf-twim"; // I2C controller instead of generic
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    //clock-frequency = <I2C_BITRATE_STANDARD>;

    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        // This is for my personal build, where I hand wired the DR pin on the cirque to the ffkb v2 led pin (P0.06)
        dr-gpios = <&gpio0 2 (GPIO_ACTIVE_HIGH)>;

        sensitivity = "2x";
        sleep;
        no-taps;
    };

};


&glidepoint_split {
    device = <&glidepoint>;

    // Optional
    //input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};





