/*
 * Copyright (c) 2020 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */


#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

#include "nutymini.dtsi"
#include "nutymini-pinctrl_right.dtsi"

&default_transform {
	col-offset = <6>;
};


&kscan0 {

  diode-direction = "row2col";
  row-gpios
    = <&gpio0 3 GPIO_ACTIVE_HIGH >     //Row0
    , <&gpio0 28 GPIO_ACTIVE_HIGH >     //Row1
    , <&gpio0 29 GPIO_ACTIVE_HIGH >    //Row2
    , <&gpio0 4 GPIO_ACTIVE_HIGH >    //Row3
    ;
	col-gpios
		= <&gpio0 9  (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>	//Col0
		, <&gpio0 10 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col1
		, <&gpio1 12 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col2
		, <&gpio1 13 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col3
		, <&gpio1 14 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col4
		, <&gpio1 15 (GPIO_ACTIVE_HIGH |GPIO_PULL_DOWN)>  //Col5
		;
};


&xiao_i2c {
    status = "okay";

    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        data-ready-gpios= <&gpio0 2 (GPIO_ACTIVE_HIGH)>;
        data-mode = "relative";
        sensitivity = "2x";
        sleep;
        //no-taps;
        primary-tap-enable;
    };
};

&glidepoint_split {
    device = <&glidepoint>;
    input = <&glidepoint>;
    status = "okay";
    // Optional
    //input-processors = <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
};


&glidepoint_listener {
//    status = "okay";
};

